# upload
makepush.sh
makeftp.sh

# archives
*.zip
*.tar.gz

# objects
*.o
*.exe
advdef
advmng
advpng
advzip

# docs
doc/*.hh
doc/*.html

# autotools
Makefile
Makefile.in
compile
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in~
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
stamp-h1
.dirstamp

# projects
*.dst
*.epr

# others
resource/
archive/

